# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.log
*.exe
*.ilk
*.pdb
#SuperMotorn/assets/textures/*
#SuperMotorn/assets/models/*
#SuperMotorn/assets/levels/*
Debug/*
SuperMotorn/Debug/*
SuperMotorn/Release/*
*.blend?
*.psd